body
{
  width: 70%;
  margin: auto;
}
main
{
  background-color: #D4B16A;
}
#otsikko
{
  margin-left: 30px;
}
#edvin{
  width: 40%;
}
#otsikkoteksti
{
  width: 700px;
  margin-left: 30px;
}
#alaotsikkoteksti
{
  width: 700px;
}
