body
{
  width: 70%;
  margin: auto;
}
main
{
  background-color: #D4B16A;
}
#otsikko
{
  margin-left: 30px;
}
#edvin{
  width: 40%;
}
#otsikkoteksti
{
  width: 700px;
  margin-left: 30px;
}
#alaotsikkoteksti
{
  width: 700px;
}
#tribute-info
 {
            background-color: rgb(46, 139, 87, 0.25);
            box-shadow: 20px 20px 20px #98FB98;
            font-family: Georgia;
            padding: 25px 25px;
            margin: 11px;
            margin-top: 50px;
}
