
.imageone
{
  background-image: url("Opel.jpeg");
  height: 30rem;
  background-repeat: no-repeat;
}
.imagetwo
{
  background-image: url("man murderring duck.jpg");
  background-repeat: no-repeat;
  height: 400px;
}
