
.imageone
{
background-image: url("Opel.jpeg");
background-attachment: fixed;
min-height: 700px;
background-position: bottom;
background-size: cover;
background-repeat: no-repeat;
width: 100%;
height: 100%;
box-sizing: border-box;
margin-top: -1.6rem;
}
.imagetwo
{
  background-image: url("man murderring duck.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 700px;
  background-position: center;
  background-size: cover;
  width: 100%;
height: 100px;
padding: 50px;
box-sizing: border-box;
}

.imagethree
{
  background-image: url("Rikunharrastus.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 700px;
  background-position: center;
  background-size: cover;
  width: 100%;
height: 100px;
padding: 50px;

}
.imagefour
{
  background-image: url("mermaid.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  min-height: 700px;
  background-position: center;
  background-size: cover;
  width: 100%;
height: 100px;
padding: 50px;

}
  h1, p {
    text-align: center;
    padding: 30px;
    background: linear-gradient(270deg, #FFB25F, #FF9D33, #FF8500, #C86800);
    background-size: 800% 800%;

    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
p
{
  font-family: Arial;
  font-size: 1.25rem;
  margin-top: -1rem;
  margin-bottom: -1.5rem;
}
body, html{
  height: 100%;
}
figcaption{
  font-size: 8px;
}
