
.imageone /* Kuvat tulee imageista näytölle*/
{
  background-image: url("Opel.jpeg");
/* Tästä tulee parallax ilmiö*/
background-attachment: fixed;
min-height: 700px;    /* Kuvan koko, jos liian pieni ei sovitu ruudelle oikein*/
background-position: bottom; /* Kuvan asettelu*/
background-size: cover;
background-repeat: no-repeat; /* Kuvan toistamisen lopettaminen*/
width: 100%;
height: 100%;
box-sizing: border-box; /* Kaikki kuvat samankokoisiksi*/
margin-top: -1.6rem;
}
.imagetwo /* Kuvat tulee imageista näytölle*/
{
  background-image: url("man murderring duck.jpg");
  /* Tästä tulee parallax ilmiö*/
  background-repeat: no-repeat;  /* Kuvan toistamisen lopettaminen*/
  background-attachment: fixed;
  min-height: 700px;    /* Kuvan koko, jos liian pieni ei sovitu ruudelle oikein*/
  background-position: center; /* Kuvan asettelu*/
  background-size: cover;
  width: 100%;
height: 100px;
padding: 50px;
box-sizing: border-box;  /* Kaikki kuvat samankokoisiksi*/
}
.imagethree   /* Kuvat tulee imageista näytölle*/
{
  background-image: url("Rikunharrastus.jpg");
    /* Tästä tulee parallax ilmiö*/
  background-repeat: no-repeat;  /* Kuvan toistamisen lopettaminen*/
  background-attachment: fixed;
  min-height: 700px;  /* Kuvan koko, jos liian pieni ei sovitu ruudelle oikein*/
  background-position: center;  /* Kuvan asettelu*/
  background-size: cover;  /
  width: 100%;
height: 100px;
padding: 50px;
border: 1px solid red;
box-sizing: border-box; /* Kaikki kuvat samankokoisiksi*/
}
.imagefour    /* Kuvat tulee imageista näytölle*/
{
  background-image: url("mermaid.jpg");
  /* Tästä tulee parallax ilmiö*/
  background-repeat: no-repeat;  /* Kuvan toistamisen lopettaminen*/
  background-attachment: fixed;
  min-height: 700px;  /* Kuvan koko, jos liian pieni ei sovitu ruudelle oikein*/
  background-position: center;  /* Kuvan asettelu*/
  background-size: cover;
  width: 100%;
height: 100px;
padding: 50px;
border: 1px solid red;
box-sizing: border-box;  /* Kaikki kuvat samankokoisiksi*/
}
  h1, p {
    text-align: center;
    padding: 50px;
    background: linear-gradient(270deg,#5da1f0, #ba2be4, #1d77df, #076add, #074edd, #073fb0, #9829e3);
    background-size: 800% 800%;
    -webkit-animation: AnimationName 6s ease infinite;
    -moz-animation: AnimationName 6s ease infinite;
    animation: AnimationName 6s ease infinite;
}

@-webkit-keyframes AnimationName {  /* Tästä tulee värin vaihtelu*/
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
@keyframes AnimationName {
    0%{background-position:0% 50%}
    50%{background-position:100% 50%}
    100%{background-position:0% 50%}
}
p
{
  font-family: Arial;
  font-size: 1.25rem;
  margin-top: -1rem;
  margin-bottom: -1.5rem;
}
/* Sivun koko muokattu*/
body, html{
  height: 100%;
  background-color: purple;
}
/* Button muokattu*/
.nappi{
  margin: auto;
  display: grid;
  background-color: lightblue;
  border-radius: 3.5rem;
}
/* Kuvalle linkki/viittaus, ja kohdistettu keskelle*/
figcaption{
  text-align: center;
}
