body{
  background-color: #FFEBC2;
}
.border
{
  border: 2px solid blue;
}
.logon
{
  float: left;
  margin: 20px;
  width: 50px;
  height: 50px;
}
#otsikko
{
  font-family: 'Lora', serif;
  margin-left: 100px;
  font-size: 40px;
  color: #FF8100;
}
#alaotsikko
{
  font-family: 'Qwitcher Grypen', cursive;
  font-size: 50px;
  margin-left: 10%;
  color: #FFAA00;
}
.navi
{
  float: right;
  margin-right: 150px;
  margin-bottom: 30px;
  font-style: italic;
  font-size: 20px;
}
header
{
  display: table;
  width: 80%;
}
